<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>火锅</key>
	<string>364</string>
	<key>日本料理</key>
	<string>389</string>
	<key>西餐</key>
	<string>391</string>
	<key>自助餐</key>
	<string>392</string>
</dict>
</plist>
